
{% extends "base.html" %}

{% load static  %}
{% static 'bootstrap4/css/bootstrap.min.css' %}

{% block body %}



<form method='POST' style="border:1px solid #ccc">
  {% csrf_token %}
  <div class="container">
    <h1>Login</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Login</button>
    </div>
  </div>
</form>


{% endblock body %}
